html, body {
    margin: 0;
    height: 100%;
}
#page-swapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
    background: #ccc;
}
#page-content {
    padding-top: 50px;
}
#page-content-inner{
    margin: 0 auto;
}
#column-content {
    1margin-top: 50px;
    background: #fff;
    width: 680px;
    border-radius: 5px;
}
#column-right .column-item,
#column-left .column-item {
    background: #fff;
    border-radius: 5px;
}
#page-footer, #page-push {
    height: 30px;
}
#page-footer {
    position: relative;
    text-align:center;
}

#column-left {
    float:left;
    width:200px;
}
#column-right {
    float:right;
    width:260px;
}

#column-right .column-item {
    margin-bottom: 10px;
}

#column-content {
    float:left;
}

.footer-inner {
    margin: 0 auto;
}

/* Override bootstrap css */
.container, .navbar-fixed-top .container {
    width: 960px;
}

.section-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.section-title h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 10px;
}

.messages {
    margin: 0 10px;
}
.inner {
    margin: 10px;
}
/* css for widgets related */
.widget {
    padding: 8px;   
}
.widget .widget-title {
    background: #eee;
    color: #777;
    margin: -8px -8px 8px -8px;
    line-height: 25px;
    padding-left: 5px;
    border-radius: 5px 5px 0 0 ;
}
