html, body {
    margin: 0;
    height: 100%;
}
#page-swapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

#page-content {
    padding-top: 50px;
}

#page-footer {
    height: 30px;
    text-align:center;
}

#column-left {
	float:left;
	width:200px;
}
#column-right {
	float:right;
	width:240px;
}

#column-content {
	float:left;
}

#page-content-inner{
	margin: 0 auto;
}

#page-footer .footer-inner {
	margin: 0 auto;
}
