
#navigation {
    font-size: 14px;
    margin-bottom: 10px;
}
#navigation-primary, #navigation-secondary {
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 10px;
}
#navigation-secondary {
    font-size: 13px;
    background: #f9f9f9;
    border-bottom: 1px solid #e2e2e2;
}
